{% extends 'listapp/base.html' %}

{% block title %}Lister - Not Found{% endblock %}
{% block content %}
{% load static %}
    <main>
        <div class="main">
            {% if user.is_authenticated %}
                <div class="textof"><strong>You are authenticated yet!</strong></div>
            {% else %}
                <div class="headof">
                    <strong>It seems you are trying to crack a log in form!</strong></br>
                </div>
                <div class="textof">
                    You can enter the correct password in 5 attempts every 5 minutes
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}