{% extends 'listapp/base.html' %}

{% block title %}Lister - Change password{% endblock %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
    <main>
        <div class="container">
            <div class="center_big">
                <div class="headof"></br>Change password</br></br></div>
                <div class="input_form form-group">
                    <form method="post">{% csrf_token %} {% bootstrap_form form size='small' %}
                        <button type="submit" class="btn btn-success btn-sm account_button"><small>SAVE</small></button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}