{% extends 'listapp/base.html' %}

{% block title %}Lister - Reset password{% endblock %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
    <main>
        {% if user.is_authenticated %}
            <div class="main">
                <div class="textof"><strong>You are authenticated yet!</strong></div>
            </div>
        {% else %}
            <div class="container">
                <div class="center_big">
                    <div class="headof"></br>Reset password</br></br></div>
                    <div class="input_form form-group">
                        <form method="post">{% csrf_token %} {% bootstrap_form form size='small' %}
                            <button type="submit" class="btn btn-success btn-sm account_button"><small>ENTER</small></button>              
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}